name: Build Android APK
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest
    environment: Production
    steps:
      # Checkout Repository
      - name: Checkout Repository #checkout action to check out (or clone) the repository code into the workflow environment.
        uses: actions/checkout@v4
      - name: Read version info
        id: version
        run: |
          VERSION_LINE=$(grep '^version:' pubspec.yaml | sed 's/version:[[:space:]]*//')
          VERSION_NAME=$(echo "$VERSION_LINE" | cut -d'+' -f1)
          VERSION_CODE=$(echo "$VERSION_LINE" | cut -d'+' -f2)

          echo "VERSION_NAME=$VERSION_NAME" >> $GITHUB_OUTPUT
          echo "VERSION_CODE=$VERSION_CODE" >> $GITHUB_OUTPUT
      - name: Read release notes
        id: notes
        run: |
          NOTES=$(cat release_notes.md | sed ':a;N;$!ba;s/\n/\\n/g')
          echo "NOTES=$NOTES" >> $GITHUB_OUTPUT
      - name: Slack start notification
        uses: ./.github/actions/slack
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          title: "A new build has been triggered for the Android APK. :rocket: \n\n*Repository:* ${{ github.repository }} \n\n*Triggered by*: ${{ github.actor }} \n\n*Branch:* ${{ github.ref_name }} \n \n*Version:* ${{ steps.version.outputs.VERSION_NAME }}+${{ steps.version.outputs.VERSION_CODE }}"
          stage: "start"
          notes: ${{ steps.notes.outputs.NOTES }}
      # Setup Java
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "zulu"
      #3 Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.24.3
      #4 Install Dependencies
      - name: Install Dependencies
        run: |
          flutter --version
          flutter pub get
      #5 Load Environment
      - name: Load environment
        uses: varunkumar/create-env-action@v1
        with:
          file: .env
          path: ${{ github.workspace }}
          env: |
            APP_NAME=${{ secrets.APP_NAME }}
        # uses: SpicyPizza/create-envfile@v2.0
        # with:
        #   directory: .
        #   file_name: .env
        #   fail_on_empty: true
        #   sort_keys: false
        #   envkey_APP_NAME: ${{ secrets.APP_NAME }}
      #6 Code Generation
      - name: Code Generation
        run: flutter pub run build_runner build --delete-conflicting-outputs
      - name: Build APK
        run: flutter build apk --release
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-${{ github.run_number }}
          path: build/app/outputs/flutter-apk/app-release.apk
          if-no-files-found: error
      # Upload to Firebase App Distribution
      - name: Upload APK to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          groups: "testers"
          file: build/app/outputs/flutter-apk/app-release.apk
          releaseNotesFile: release_notes.md
      # Send Notification to Slack about build completion
      - name: Slack success notification
        uses: ./.github/actions/slack
        if: success()
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          title: "The Android APK build has completed successfully! :tada: \n\n*Repository:* ${{ github.repository }} \n\n*Triggered by*: ${{ github.actor }} \n\n*Branch:* ${{ github.ref_name }} \n\n*Version:* ${{ steps.version.outputs.VERSION_NAME }}+${{ steps.version.outputs.VERSION_CODE }}"
          stage: "success"

      # Send Notification to Slack about build failure
      - name: Slack failure notification
        uses: ./.github/actions/slack
        if: failure()
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          title: "The Android APK build has failed. :x: \n\n*Repository:* ${{ github.repository }} \n\n*Triggered by*: ${{ github.actor }} \n\n*Branch:* ${{ github.ref_name }} \n\n*Version:* ${{ steps.version.outputs.VERSION_NAME }}+${{ steps.version.outputs.VERSION_CODE }}"
          stage: "failure"
