name: Build Android APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest
    environment: Production
    steps:
      #1 Checkout Repository
      - name: Checkout Repository #checkout action to check out (or clone) the repository code into the workflow environment.
        uses: actions/checkout@v4

      - name: Send Notification to Slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ vars.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            {
                "text": "A new build has been triggered for the Android APK. :rocket:",
                "attachments": [
                    {
                    "color": "#36a64f",
                    "fields": [
                        {
                        "title": "Repository",
                        "value": "${{ github.repository }}",
                        "short": true
                        },
                        {
                        "title": "Branch",
                        "value": "${{ github.ref_name }}",
                        "short": true
                        },
                    ]
                    }
                ]
            }
      # #2 Setup Java
      # - name: Setup Java
      #   uses: actions/setup-java@v4
      #   with:
      #     java-version: "17"
      #     distribution: "zulu"
      # #3 Setup Flutter
      # - name: Setup Flutter
      #   uses: subosito/flutter-action@v2
      #   with:
      #     channel: stable
      #     flutter-version: 3.24.3
      # #4 Install Dependencies
      # - name: Install Dependencies
      #   run: |
      #     flutter --version
      #     flutter pub get
      # #5 Load Environment
      # - name: Load environment
      #   uses: SpicyPizza/create-envfile@v2.0
      #   with:
      #     directory: .
      #     file_name: .env
      #     fail_on_empty: true
      #     sort_keys: false
      #     envkey_APP_NAME: ${{ secrets.APP_NAME }}

      # #6 Code Generation
      # - name: Code Generation
      #   run: flutter pub run build_runner build --delete-conflicting-outputs
      # - name: Build APK
      #   run: flutter build apk --release
      # - name: Upload Artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: app-release-${{ github.run_number }}
      #     path: build/app/outputs/flutter-apk/app-release.apk
      #     if-no-files-found: error

      # # Upload to Firebase App Distribution
      # - name: Upload APK to Firebase App Distribution
      #   uses: wzieba/Firebase-Distribution-Github-Action@v1
      #   with:
      #     appId: ${{ secrets.FIREBASE_APP_ID }}
      #     serviceCredentialsFileContent: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
      #     groups: "testers"
      #     file: build/app/outputs/flutter-apk/app-release.apk
      #     releaseNotesFile: release_notes.md
